<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Emil Varghese Blog{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
{% load static %}

  <link rel="icon" href="{% static 'assets/img/favicon.png' %}">

  <link rel='apple-touch-icon' href="{% static 'assets/img/apple-touch-icon.png' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
    <link rel='stylesheet'  href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'  %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'  %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/remixicon/remixicon.css' %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">

  <!-- Template Main CSS File -->
  <link rel='stylesheet' href="{% static 'assets/css/style.css' %}">

  <!-- =======================================================
  * Template Name: Personal
  * Updated: Jun 18 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

{%block content %}
{% for post in post %}

<body>
    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <!--<h2>About</h2>
        <p>Learn more about me</p>-->
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'assets/img/emil.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <br><br>
          <h3>Doctoral Research Fellow</h3>
          <p class="fst-italic">
          {{ post.online }}
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{ post.birthday }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>{{ post.website }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{ post.number }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ post.address }}</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ post.age }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{ post.degree }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{ post.email }}</span></li>
              </ul>
            </div>
          </div>cmd
          <br>
          <p> <h3> Short Description about me </h3>
          {{ post.content }}
          </p>
          <br> 
          <p> <h3> My Current Research Areas</h3>
          <ul>
            <li>{{post.my_current_research}}</li>
            <li>{{post.my_current_research2}}</li>
            <li>{{post.my_current_research3}}</li>
            <li>{{post.my_current_research4}}</li>
          </ul>
          </p>
          <br>
          <p> <h3> My Future Goals:</h3>
          <ul>
            <li>{{post.my_future_goals1}}</li>
            <li>{{post.my_future_goals2}}</li>
            <li>{{post.my_future_goals3}}</li>
            <li>{{post.my_future_goals4}}</li>
          </ul>
          </p>
          <br>
          <p> <h3> My Mission:</h3>
          <ul>
            <li>{{post.my_mission1}}</li>
            <li>{{post.my_mission2}}</li>
            <li>{{post.my_mission3}}</li>
            <li>{{post.my_mission4}}</li>
          </ul>
          </p>
          <br>
          <p> <h3> My Vision:</h3>
          <ul>
            <li>{{post.my_vision1}}</li>
            <li>{{post.my_vision2}}</li>
            <li>{{post.my_vision3}}</li>
            <li>{{post.my_vision4}}</li>
          </ul>
          </p>
          <br>
          <p> <h3>My Inspirational Quotes</h3>
          <ul>
            <li>{{post.my_vision1}}</li>
            <li>{{post.my_vision2}}</li>
            <li>{{post.my_vision3}}</li>
            <li>{{post.my_vision4}}</li>
          </ul>
          </p>
          <br>


        </div>
      </div>

    </div><!-- End About Me -->
     {% endfor %}


    <!-- ======= Counts ======= -->
    <div class="counts container">
      <div class="row">
        {% for work in work %}
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{ work.work1 }}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{ work.work2 }}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{ work.work3 }}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p>{{ work.work4 }}</p>
          </div>
        </div>

      </div>
        {% endfor %}
    </div><!-- End Counts -->

    <!-- ======= Skills  ======= -->
    {% for skill in skill %}
    <div class="skills container">

      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">{{ skill.skill1 }} <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">{{ skill.skill2 }} <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">{{ skill.skill3 }} <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">{{ skill.skill4 }} <i class="val">80%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">{{ skill.skill5 }} <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">{{ skill.skill6 }}<i class="val">55%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

        </div>

      </div>

    </div><!-- End Skills -->
     {% endfor %}
    <!-- ======= Interests ======= -->
    <div class="interests container">
      {% for interest in interest %}
      <div class="section-title">
        <h2> Interests </h2>>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3>{{ interest.interest1 }}</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3>{{ interest.interest2 }}</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3>{{ interest.interest4 }}</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3>{{ interest.interest5 }}</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3>{{ interest.interest6 }}</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3>{{ interest.interest7 }}</h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3>{{ interest.interest8 }}</h3>
          </div>
        </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div><!-- End Interests -->

  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">Emilcorp</a>
  </div>

  <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
 

 {% endblock content %}

</html>