{% extends "blog/base_blg_posts.html" %}
      
 {% block content %}
<style>
    
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text{
    color: white;
  }
    .card{
    box-shadow: 0 16px 48px #E3E7EB;
}
</style>

    <header class="masthead" >
            <div class="overlay"></div>
            <div class="container">
              <div class="row">
                <div class=" col-md-8 col-md-10 mx-auto">
                  <div class="site-heading">
                   <!-- <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my awesome Blog </h3>
                    <p class="text-light">We Love Django As much as you do..! &nbsp
                    </p>-->
                        <div class="container">
                    <div class="section-title">
         <br><br>
        <h2>Welcome to my Emil's Research Blog</h2>
        <p>I just Love what I Do</p>
      </div>

                </div>
                    </div>
                  </div>
                </div>
            </div>
              </header>
            
            <br> <br>
            <div class="container">
                <div class="row">
                <br> <br>
              <!-- Blog Entries Column -->
              <div class="col-md-8 mt-3 left">
                    {% for post in blg_post %}
                <div class="card mb-4" >
                  <div class="card-body">
                    <h2 class="card-title">{{ post.subject }}</h2>
                    <p class="card-text text-muted h6">{{ post.create_by }} | {{ post.date}} </p>

                    <p class="card-text">{{post.topic|slice:":200" }}</p>
                    <a href="{% url 'blog:blog-post_detail' pk=post.pk %}" class="btn btn-primary">Read More &rarr;</a>

                  </div>
                 
                </div>
                {% endfor %}
            </div>
                {% block sidebar %}
                <br> <br>
                {% include 'blog/sidebar.html' %}
                {% endblock sidebar %}
                <br> <br>
            </div>
        </div>
        <br> <br>
{%endblock%}
