{% extends 'blog/base_blg_posts.html' %} {% block content %}

<br><br> 
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">

        <h1>{% block title %} {{ blg_post.subject }} {% endblock title %}</h1>
        <p class=" text-muted">{{ blg_post.create_by }} | {{ blg_post.date }}</p>
        <p class="card-text ">{{ blg_post.topic | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'blog/sidebar.html' %} {% endblock sidebar %}
  </div>
</center>
</div>

{% endblock content %}
