<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

   <title>{% block title %}Emil Varghese Blog{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
{% load static %}

  <link rel="icon" href="{% static 'assets/img/favicon.png' %}">

  <link rel='apple-touch-icon' href="{% static 'assets/img/apple-touch-icon.png' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!--<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet' %}">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet' %}">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet' %}">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' rel='stylesheet' %}">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' rel='stylesheet' %}">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet' %}"> -->

    <link rel='stylesheet'  href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'  %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'  %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/remixicon/remixicon.css' %}">
  <link rel='stylesheet'  href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">

  <!-- Template Main CSS File -->
  <link rel='stylesheet' href="{% static 'assets/css/style.css' %}">


  <!-- =======================================================
  * Template Name: Personal
  * Updated: Jun 18 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

{% for ResumePage in ResumePage %}
<body>

  <!-- ======= Header ======= -->
<header id="header">
    <div class="container">

      <h1><a href="index.html">Emil Varghese</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a passionate <span>Phd Scholar and Environmental Data Analyst </span> from India</h2>



      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>{{ ResumePage.Summary }}</h4>
            <p><em>{{ ResumePage.aboutme }}.</em></p>
            <p>
            <ul>
              <li>{{ ResumePage.Address }}</li>
              <li>{{ ResumePage.phone }}</li>
              <li>{{ ResumePage.email }}</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>{{ ResumePage.education_1st_year_briefintro }}</h4>
            <h5>{{ ResumePage.education_1st_year }}</h5>
            <p><em>{{ ResumePage.education_1st_year_university }}</em></p>
            <p>{{ ResumePage.education }}</p>
          </div>
          <div class="resume-item">
            <h4>{{ ResumePage.education_2nd_year_briefintro }}</h4>
            <h5>{{ ResumePage.education_2nd_year }}</h5>
            <p><em>{{ ResumePage.education_2nd_year_university }}</em></p>
            <p>{{ ResumePage.education_head }}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>{{ ResumePage.experience_position1 }}</h4>
            <h5>{{ ResumePage.experience_position1_year }} </h5>
            <p><em>{{ ResumePage.experience_position1_location }}</em></p>
            <p>
            <ul>
              <li>{{ ResumePage.exp1_brief_dscp1 }}</li>
              <li>{{ ResumePage.exp1_brief_dscp2 }} </li>
              <li>{{ ResumePage.exp1_brief_dscp3 }}</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>{{ ResumePage.experience_position2 }}</h4>
            <h5>{{ ResumePage.experience_position2_year }} </h5>
            <p><em>{{ ResumePage.experience_position2_location }}</em></p>
            <p>
            <ul>
              <li>{{ ResumePage.exp2_brief_dscp1 }}</li>
              <li>{{ ResumePage.exp2_brief_dscp2 }} </li>
              <li>{{ ResumePage.exp2_brief_dscp3 }}</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
  {% endfor %}
   
    </div>
  </section><!-- End Resume Section -->


  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">EmilCorp</a>
  </div>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>