{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
  <!-- <div class="col-md-4 float-right ">
<div class="card my-4">
     <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">This is on multiple article and blog on my research in Aerosol Atmoshpere </p>
        <a href="#"
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>-->

{% endblock sidebar %}